Repository buildkite/terraform-buildkite-elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

.buildkite/pipeline.ami.yml:

steps:
  - label: "Check for Cloudformation Stack Version Change"
    command: .buildkite/scripts/check_version_change.sh
    if_changed:
      - "locals.tf"
    agents:
      queue: "hosted"

.buildkite/pipeline.amis.yml:

steps:
  - label: ":robot: Update AMI Mappings"
    if_changed:
      - "locals.tf"
    plugins:
      - aws-assume-role-with-web-identity#v1.4.0:
          role-arn: arn:aws:iam::445615400570:role/pipeline-terraform-buildkite-elastic-ci-stack-for-aws-release
          session-tags:
            - organization_slug
            - organization_id
            - pipeline_slug
      - aws-ssm#v1.0.0:
          parameters:
            GH_TOKEN: /pipelines/buildkite/terraform-buildkite-elastic-ci-stack-for-aws-release/GITHUB_TOKEN
      - docker#v5.11.0:
          image: hashicorp/terraform:1.13
          workdir: "/workdir"
          entrypoint: "/bin/sh"
          command: ["-c", "apk add --no-cache bash curl git && bash .buildkite/scripts/check_ami_version_match.sh"]
          propagate_environment: true
    agents:
      queue: "oss-deploy"

.buildkite/pipeline.yml:

steps:
  - group: ":terraform: Root Module"
    steps:
      - label: ":terraform: Format Check"
        command: ".buildkite/scripts/format-check.sh"
        if_changed: "**.tf"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate"
        command: ".buildkite/scripts/validate.sh"
        if_changed:
          - "*.tf"
          - "*.tfvars"
          - "scripts/*"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint"
        command: ".buildkite/scripts/tflint.sh"
        if_changed:
          - "*.tf"
          - ".tflint.hcl"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":shield: Security Scan"
        command: ".buildkite/scripts/tfsec.sh"
        if_changed: "*.tf"
        plugins:
          - docker#v5.11.0:
              image: "aquasec/tfsec:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":page_facing_up: Documentation Check"
        command: ".buildkite/scripts/docs-check.sh"
        if_changed:
          - "*.tf"
          - "README.md"
        plugins:
          - docker#v5.11.0:
              image: "quay.io/terraform-docs/terraform-docs:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

  - group: ":terraform: Examples"
    steps:
      - label: ":terraform: Format Check Examples"
        command: ".buildkite/scripts/examples-format-check.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate Examples"
        command: ".buildkite/scripts/examples-validate.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint Examples"
        command: ".buildkite/scripts/examples-tflint.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - wait: ~
        continue_on_failure: true

      - label: "Testing script"
        command: ".buildkite/scripts/check_ami_version_match.sh"

Detect ARM and burstable instances by naming conventions (#97)
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.66.2
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update version for upcoming release v0.9.0
  README.md
Due: :page_facing_up: Documentation Check

Update version for upcoming release v0.9.0 (#98)
  README.md
Due: :page_facing_up: Documentation Check

fix(scaler): build the agent-token KMS ARN instead of using it raw
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add explicit create_vpc variable
  README.md
  locals.tf
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Use stable keys for managed policy attachments
  iam.tf
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update version for v0.10.0 release
  README.md
Due: :page_facing_up: Documentation Check

Update version for v0.10.0 release (#105)
  README.md
Due: :page_facing_up: Documentation Check

feat: add nested virtualization configuration
  README.md
  autoscaling.tf
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: add nested virtualization configuration (#106)
  README.md
  autoscaling.tf
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update tf-docs tag, script
  .buildkite/pipeline.yml
  .buildkite/scripts/docs-check.sh
Due: none

Update tf-docs tag, script (#108)
  .buildkite/pipeline.yml
  .buildkite/scripts/docs-check.sh
Due: none

Update AMI mappings to CloudFormation version v6.68.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.68.1
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Run AMI update script on direct pushes
  .buildkite/scripts/check_version_change.sh
Due: none

feat: allow oldstable as buildkite_agent_release value
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.69.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Run AMI update script on direct pushes (#117)
  .buildkite/scripts/check_version_change.sh
Due: none

feat: allow oldstable as buildkite_agent_release value (#118)
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

fix: scaler lambda policy uses the agent-token KMS key id as a raw ARN (#102)
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

fix: replace deprecated aws_region.current.id with .region
  agent-scaler.tf
  autoscaling.tf
  iam.tf
  locals.tf
  vpc.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: allow custom instance profile name
  README.md
  iam.tf
  locals.tf
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.69.1
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add support for custom_user_data
  README.md
  autoscaling.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add tests with mock_provider
  .buildkite/pipeline.yml
  .buildkite/scripts/validate.sh
  tests/custom_user_data.tftest.hcl
Due: none

Extend readme with info on autoscaling on custom AMI
  README.md
Due: :page_facing_up: Documentation Check

Tighten wording around custom_user_data and custom AMIs
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: allow custom instance profile name (#120)
  README.md
  iam.tf
  locals.tf
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

fix: replace deprecated aws_region.current.id with .region (#121)
  agent-scaler.tf
  autoscaling.tf
  iam.tf
  locals.tf
  vpc.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Default custom_user_data to empty string
  README.md
  autoscaling.tf
  tests/custom_user_data.tftest.hcl
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add the unset/default-path test
  tests/custom_user_data.tftest.hcl
Due: none

Make clear that custom user data is base64 without interpolation
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add 16 KiB user-data validation
  tests/custom_user_data.tftest.hcl
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Make it even more clear that base64 is not encryption
  README.md
Due: :page_facing_up: Documentation Check

Add example with custom_user_data and custom image
  .buildkite/scripts/examples-format-check.sh
  .buildkite/scripts/examples-tflint.sh
  .buildkite/scripts/examples-validate.sh
  dependencies.tf
  examples/README.md
  examples/custom-ami-debian-ubuntu/README.md
  examples/custom-ami-debian-ubuntu/main.tf
  examples/custom-ami-debian-ubuntu/outputs.tf
  examples/custom-ami-debian-ubuntu/user-data.sh.tftpl
  examples/custom-ami-debian-ubuntu/variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Fix fallback to pass --no-should-decrement-desired-capacity
  examples/custom-ami-debian-ubuntu/user-data.sh.tftpl
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update AMI mappings to CloudFormation version v6.69.2
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Apply common tags to instance profiles
  .buildkite/pipeline.yml
  .buildkite/scripts/validate.sh
  iam.tf
  tests/instance_profile_tags.tftest.hcl
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Apply common tags to instance profiles (#127)
  .buildkite/pipeline.yml
  .buildkite/scripts/validate.sh
  iam.tf
  tests/instance_profile_tags.tftest.hcl
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check
