Repository buildkite/terraform-buildkite-elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Check for Cloudformation Stack Version Change:
  command: .buildkite/scripts/check_version_change.sh
  agents:
    queue: hosted

:robot: Update AMI Mappings:
  plugins:
  - aws-assume-role-with-web-identity#v1.4.0:
      role-arn: arn:aws:iam::445615400570:role/pipeline-terraform-buildkite-elastic-ci-stack-for-aws-release
      session-tags:
      - organization_slug
      - organization_id
      - pipeline_slug
  - aws-ssm#v1.0.0:
      parameters:
  ...

:terraform: Format Check:
  command: .buildkite/scripts/format-check.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate:
  command: .buildkite/scripts/validate.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint:
  command: .buildkite/scripts/tflint.sh
  plugins:
  - docker#v5.11.0:
      image: ghcr.io/terraform-linters/tflint:latest
      workdir: /workdir
      entrypoint: /bin/sh

:shield: Security Scan:
  command: .buildkite/scripts/tfsec.sh
  plugins:
  - docker#v5.11.0:
      image: aquasec/tfsec:latest
      workdir: /workdir
      entrypoint: /bin/sh

:page_facing_up: Documentation Check:
  command: .buildkite/scripts/docs-check.sh
  plugins:
  - docker#v5.11.0:
      image: quay.io/terraform-docs/terraform-docs:latest
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Format Check Examples:
  command: .buildkite/scripts/examples-format-check.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Examples:
  command: .buildkite/scripts/examples-validate.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint Examples:
  command: .buildkite/scripts/examples-tflint.sh
  plugins:
  - docker#v5.11.0:
      image: ghcr.io/terraform-linters/tflint:latest
      workdir: /workdir
      entrypoint: /bin/sh

Handle null custom user data
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/custom-ami-debian-ubuntu/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
  tests/custom_user_data.tftest.hcl
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update AMI mappings to CloudFormation version v6.70.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Allow choosing between Amazon Linux and Ubuntu AMIs
  .buildkite/scripts/update_amis.sh
  README.md
  locals.tf
  scripts/user-data-linux.sh
  tests/linux_distribution.tftest.hcl
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Allow choosing between Amazon Linux and Ubuntu AMIs (#130)
  .buildkite/scripts/update_amis.sh
  README.md
  locals.tf
  scripts/user-data-linux.sh
  tests/linux_distribution.tftest.hcl
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update README and CONTRIBUTING with TF requirement
  CONTRIBUTING.md
  examples/README.md
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Raise minimum Terraform versions
  CONTRIBUTING.md
  README.md
  examples/README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/custom-ami-debian-ubuntu/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update AMI mappings to CloudFormation version v6.70.1
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add support for custom_user_data (#124)
  .buildkite/scripts/examples-format-check.sh
  .buildkite/scripts/examples-tflint.sh
  .buildkite/scripts/examples-validate.sh
  CONTRIBUTING.md
  README.md
  autoscaling.tf
  dependencies.tf
  examples/README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/custom-ami-debian-ubuntu/README.md
  examples/custom-ami-debian-ubuntu/main.tf
  examples/custom-ami-debian-ubuntu/outputs.tf
  examples/custom-ami-debian-ubuntu/user-data.sh.tftpl
  examples/custom-ami-debian-ubuntu/variables.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
  tests/custom_user_data.tftest.hcl
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Make scaler CloudWatch metrics configurable
  README.md
  agent-scaler.tf
  tests/cloudwatch_metrics.tftest.hcl
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update agent-scaler.tf
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.71.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Cover scaler CloudWatch namespace scoping with tests
  agent-scaler.tf
  tests/cloudwatch_metrics.tftest.hcl
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Make scaler CloudWatch metrics configurable (#133)
  README.md
  agent-scaler.tf
  tests/cloudwatch_metrics.tftest.hcl
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.71.1
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: add option for updating default launch template version
  autoscaling.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Clarify update-default-verison var desc and set default to false
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: add option for updating default launch template version (#140)
  autoscaling.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Regenerate Terraform module documentation
  README.md
Due: :page_facing_up: Documentation Check

Regenerate Terraform module documentation (#141)
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.71.2
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Only move min_size in scheduled scaling actions
  autoscaling.tf
  tests/scheduled_scaling.tftest.hcl
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Only move min_size in scheduled scaling actions (#146)
  autoscaling.tf
  tests/scheduled_scaling.tftest.hcl
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat(autoscaling): add optional warm pool support
  README.md
  autoscaling.tf
  tests/warm_pool.tftest.hcl
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.71.3
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.71.4
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: add wait-for-capacity-timeout var to stack asg
  README.md
  autoscaling.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v7.0.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.71.5
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

chore(deps): update dependency buildkite/buildkite-agent-scaler to v1.14.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Skip AMI update for stack versions older than the latest major
  .buildkite/scripts/check_version_change.sh
Due: none

Update to Elastic CI Stack v6.71.5 for the last Agent v3 release (#160)
  .buildkite/scripts/check_version_change.sh
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat!: align with Elastic CI Stack v7 and Buildkite Agent v4
  README.md
  autoscaling.tf
  docs/upgrading-to-v1.md
  locals.tf
  scripts/user-data-linux.sh
  scripts/user-data-windows.ps1
  tests/custom_user_data.tftest.hcl
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

docs: stop Agent v3 agents with the Buildkite CLI during rollout
  docs/upgrading-to-v1.md
Due: none

docs: note Windows instances at min_size restart Agent v3
  docs/upgrading-to-v1.md
Due: none

feat: update buildkite-agent-scaler to 1.15.0 and persist its scale-in cooldown
  README.md
  agent-scaler.tf
  locals.tf
  tests/cloudwatch_metrics.tftest.hcl
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat!: deploy Elastic CI Stack v7 AMIs with Buildkite Agent v4 (#158)
  README.md
  autoscaling.tf
  docs/upgrading-to-v1.md
  locals.tf
  scripts/user-data-linux.sh
  scripts/user-data-windows.ps1
  tests/custom_user_data.tftest.hcl
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

feat: update buildkite-agent-scaler to 1.15.0 (#159)
  README.md
  agent-scaler.tf
  locals.tf
  tests/cloudwatch_metrics.tftest.hcl
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

docs: remove preview warning banner
  README.md
Due: :page_facing_up: Documentation Check

Chore: remove preview warning (#162)
  README.md
Due: :page_facing_up: Documentation Check

Path conditions:
  Check for Cloudformation Stack Version Change: any of: locals.tf
  :robot: Update AMI Mappings: any of: locals.tf
  :terraform: Format Check: any of: **.tf
  :terraform: Validate: any of: **.tf, *.tfvars, scripts/*
  :lint-roller: TFLint: any of: **.tf, .tflint.hcl
  :shield: Security Scan: any of: **.tf
  :page_facing_up: Documentation Check: any of: **.tf, README.md
  :terraform: Format Check Examples: any of: examples/**
  :terraform: Validate Examples: any of: examples/**
  :lint-roller: TFLint Examples: any of: examples/**
