Repository buildkite/terraform-buildkite-elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

:terraform: Format Check:
  command: .buildkite/scripts/format-check.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate:
  command: .buildkite/scripts/validate.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint:
  command: .buildkite/scripts/tflint.sh
  plugins:
  - docker#v5.11.0:
      image: ghcr.io/terraform-linters/tflint:latest
      workdir: /workdir
      entrypoint: /bin/sh

:shield: Security Scan:
  command: .buildkite/scripts/tfsec.sh
  plugins:
  - docker#v5.11.0:
      image: aquasec/tfsec:latest
      workdir: /workdir
      entrypoint: /bin/sh

:page_facing_up: Documentation Check:
  command: .buildkite/scripts/docs-check.sh
  plugins:
  - docker#v5.11.0:
      image: quay.io/terraform-docs/terraform-docs:latest
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Format Check Examples:
  command: .buildkite/scripts/examples-format-check.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Examples:
  command: .buildkite/scripts/examples-validate.sh
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint Examples:
  command: .buildkite/scripts/examples-tflint.sh
  plugins:
  - docker#v5.11.0:
      image: ghcr.io/terraform-linters/tflint:latest
      workdir: /workdir
      entrypoint: /bin/sh

[skip ci] Adding vars
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

[skip ci] add cloud-init vars
  scripts/user-data-linux.sh
Due: :terraform: Validate

Update README.md
  README.md
Due: :page_facing_up: Documentation Check

Adding vars
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Adding vars to userdata and autoscaling
  autoscaling.tf
  scripts/user-data-linux.sh
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add configurable Docker garbage collection (#25)
  README.md
  autoscaling.tf
  scripts/user-data-linux.sh
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

fix: validations of subnets and vpc
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

chore: ran docs updater
  README.md
Due: :page_facing_up: Documentation Check

fix: validations of subnets and vpc (#26)
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMIs with Elastic CI Stack v6.51.0
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMIs with Elastic CI Stack v6.51.0 (#27)
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update examples with newest v0.5.0 release
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update examples with newest v0.5.0 release (#28)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Change all sources to buildkite/elastic-ci-stack-for-aws/buildkite and pin version
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

fmt
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

feat: move to buildkite/elastic-ci-stack-for-aws/buildkite (#29)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Removing agent scaler var, replace with local
  README.md
  agent-scaler.tf
  locals.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Replace dependabot, watch module versions everywhere, scaler version, and tf providers
  .github/dependabot.yml
  renovate.json
Due: none

Watching CFT version now, too.
  renovate.json
Due: none

TF Format
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

checking token availability
  .buildkite/pipeline.yml
Due: none

interpolate var
  .buildkite/pipeline.yml
Due: none

Update pipeline.yml
  .buildkite/pipeline.yml
Due: none

Adding pipeline.amis.yml
  .buildkite/pipeline.amis.yml
Due: none

Updating pipeline reference
  .buildkite/pipeline.amis.yml
Due: none

Temp wrong AMIs
  .buildkite/pipeline.yml
  .buildkite/scripts/check_ami_version_match.sh
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update check_ami_version_match.sh
  .buildkite/scripts/check_ami_version_match.sh
Due: none

Adding if changed, and Terraform format on the created locals
  .buildkite/pipeline.yml
  .buildkite/scripts/check_ami_version_match.sh
Due: none

Moving to TF container to be able to format
  .buildkite/pipeline.yml
Due: none

Make tooling available to the container
  .buildkite/pipeline.yml
Due: none

Check if new IAM role is working
  .buildkite/pipeline.amis.yml
Due: none

Change var to avoid conflict
  .buildkite/pipeline.amis.yml
Due: none

Update pipeline.amis.yml
  .buildkite/pipeline.amis.yml
Due: none

Path conditions:
  :terraform: Format Check: any of: **.tf
  :terraform: Validate: any of: **.tf, *.tfvars, scripts/*
  :lint-roller: TFLint: any of: **.tf, .tflint.hcl
  :shield: Security Scan: any of: **.tf
  :page_facing_up: Documentation Check: any of: **.tf, README.md
  :terraform: Format Check Examples: any of: examples/**
  :terraform: Validate Examples: any of: examples/**
  :lint-roller: TFLint Examples: any of: examples/**
