Repository buildkite/terraform-buildkite-elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

.buildkite/pipeline.ami.yml:

steps:
  - label: "Check for Cloudformation Stack Version Change"
    command: .buildkite/scripts/check_version_change.sh
    if_changed:
      - "locals.tf"
    agents:
      queue: "hosted"

.buildkite/pipeline.amis.yml:

steps:
  - label: ":robot: Update AMI Mappings"
    if_changed:
      - "locals.tf"
    plugins:
      - aws-assume-role-with-web-identity#v1.4.0:
          role-arn: arn:aws:iam::445615400570:role/pipeline-terraform-buildkite-elastic-ci-stack-for-aws-release
          session-tags:
            - organization_slug
            - organization_id
            - pipeline_slug
      - aws-ssm#v1.0.0:
          parameters:
            GH_TOKEN: /pipelines/buildkite/terraform-buildkite-elastic-ci-stack-for-aws-release/GITHUB_TOKEN
      - docker#v5.11.0:
          image: hashicorp/terraform:1.13
          workdir: "/workdir"
          entrypoint: "/bin/sh"
          command: ["-c", "apk add --no-cache bash curl git && bash .buildkite/scripts/check_ami_version_match.sh"]
          propagate_environment: true
    agents:
      queue: "oss-deploy"

.buildkite/pipeline.yml:

steps:
  - group: ":terraform: Root Module"
    steps:
      - label: ":terraform: Format Check"
        command: ".buildkite/scripts/format-check.sh"
        if_changed: "**.tf"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate"
        command: ".buildkite/scripts/validate.sh"
        if_changed:
          - "*.tf"
          - "*.tfvars"
          - "scripts/*"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint"
        command: ".buildkite/scripts/tflint.sh"
        if_changed:
          - "*.tf"
          - ".tflint.hcl"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":shield: Security Scan"
        command: ".buildkite/scripts/tfsec.sh"
        if_changed: "*.tf"
        plugins:
          - docker#v5.11.0:
              image: "aquasec/tfsec:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":page_facing_up: Documentation Check"
        command: ".buildkite/scripts/docs-check.sh"
        if_changed:
          - "*.tf"
          - "README.md"
        plugins:
          - docker#v5.11.0:
              image: "quay.io/terraform-docs/terraform-docs:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

  - group: ":terraform: Examples"
    steps:
      - label: ":terraform: Format Check Examples"
        command: ".buildkite/scripts/examples-format-check.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate Examples"
        command: ".buildkite/scripts/examples-validate.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint Examples"
        command: ".buildkite/scripts/examples-tflint.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - wait: ~
        continue_on_failure: true

      - label: "Testing script"
        command: ".buildkite/scripts/check_ami_version_match.sh"

Update AMI mappings to CloudFormation version v6.58.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.58.1
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.58.2
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update refs to v0.6.7
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update refs to v0.6.7 (#63)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update AMI mappings to CloudFormation version v6.58.4
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Bump version ref in readme to the upcoming release
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.58.5
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.58.6
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Bump version ref in readme to the upcoming release (#68)
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.59.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update version for upcoming release
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.60.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update version for upcoming release (#73)
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.61.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Set LAMBDA_TIMEOUT to 50s
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Set agent-scaler LAMBDA_TIMEOUT to 50s (#77)
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

gitblobstore: checkandput manifest
  f8serponk8sdcn70ribhac9ikcntq925.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  vmtg70fi0ihtm124b5g2s8g38a3mr6el
Due: none

Ignore subnet AZ changes after creation
  vpc.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Ignore subnet AZ changes after creation (#78)
  vpc.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.62.1
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update version for upcoming release v0.7.0
  README.md
Due: :page_facing_up: Documentation Check

Update version for upcoming release v0.7.0 (#81)
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.63.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update version for upcoming release v0.8.0
  README.md
Due: :page_facing_up: Documentation Check

Update version for upcoming release v0.8.0 (#83)
  README.md
Due: :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.64.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

chore: validate the `name_prefix` length for stack
  README.md
  iam.tf
  locals.tf
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

chore: add validation for timing values
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

chore: add validation for timing values (#90)
  README.md
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

chore: validate the `name_prefix` length for stack (#89)
  README.md
  iam.tf
  locals.tf
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Deploy to every AZ
  README.md
  autoscaling.tf
  locals.tf
  vpc.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Break the loop between subnets and VPC endpoints.
  README.md
  vpc.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMI mappings to CloudFormation version v6.65.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Prefix lambda ZIP output filenames with stack name
  lifecycle-management.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Prefix lambda ZIP output filenames with stack name (#93)
  lifecycle-management.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

locals: add c8gd and r8gd to arm instance types
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

locals: add c8gd and r8gd to arm instance types (#96)
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Detect ARM and burstable instances by name pattern
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check
