Repository buildkite/terraform-buildkite-elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

.buildkite/pipeline.yml:

steps:
  - group: ":terraform: Root Module"
    steps:
      - label: ":terraform: Format Check"
        command: ".buildkite/scripts/format-check.sh"
        if_changed: "**.tf"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate"
        command: ".buildkite/scripts/validate.sh"
        if_changed:
          - "*.tf"
          - "*.tfvars"
          - "scripts/*"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint"
        command: ".buildkite/scripts/tflint.sh"
        if_changed:
          - "*.tf"
          - ".tflint.hcl"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":shield: Security Scan"
        command: ".buildkite/scripts/tfsec.sh"
        if_changed: "*.tf"
        plugins:
          - docker#v5.11.0:
              image: "aquasec/tfsec:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":page_facing_up: Documentation Check"
        command: ".buildkite/scripts/docs-check.sh"
        if_changed:
          - "*.tf"
          - "README.md"
        plugins:
          - docker#v5.11.0:
              image: "quay.io/terraform-docs/terraform-docs:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

  - group: ":terraform: Examples"
    steps:
      - label: ":terraform: Format Check Examples"
        command: ".buildkite/scripts/examples-format-check.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate Examples"
        command: ".buildkite/scripts/examples-validate.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint Examples"
        command: ".buildkite/scripts/examples-tflint.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

Fixing examples lint issues
  examples/basic/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update main README.md
  README.md
Due: :page_facing_up: Documentation Check

Add images
  images/banner.png
  images/logo.svg
Due: none

Aligning README.md with Cloudformation
  README.md
Due: :page_facing_up: Documentation Check

Updating SVG and Releases reference
  README.md
Due: :page_facing_up: Documentation Check

Removing Cloudformation reference
  README.md
Due: :page_facing_up: Documentation Check

Update README.md
  README.md
Due: :page_facing_up: Documentation Check

Update examples docs
  examples/basic/README.md
  examples/complete/README.md
  examples/existing-vpc/README.md
  examples/scheduled-scaling/README.md
  examples/spot-instances/README.md
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update root README for examples
  examples/README.md
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Aligning TF with current Cloudformation
  README.md
  agent-scaler.tf
  autoscaling.tf
  lifecycle-management.tf
  locals.tf
  scripts/user-data-linux.sh
  scripts/user-data-windows.ps1
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Updating .terraform-docs.yml
  .terraform-docs.yml
  README.md
Due: :page_facing_up: Documentation Check

Update README with beta status
  README.md
Due: :page_facing_up: Documentation Check

Update README with beta status (#3)
  README.md
Due: :page_facing_up: Documentation Check

Update module sources and enhance IAM policies
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
  iam.tf
  s3.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Revert back to v0.1.0
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Beta > Preview
  README.md
Due: :page_facing_up: Documentation Check

Add conditional KMS and ECR policies to IAM roles
  iam.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Docs update
  README.md
Due: :page_facing_up: Documentation Check

Add stack_deployed_by and update stack version handling
  autoscaling.tf
  locals.tf
  scripts/user-data-linux.sh
  scripts/user-data-windows.ps1
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Bump AMI versions and CF stack version
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Terraform fmt
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

T > t
  autoscaling.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update module sources and enhance IAM policies (#4)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
  iam.tf
  s3.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Add `stack_deployed_by` and update stack version handling (#5)
  autoscaling.tf
  locals.tf
  scripts/user-data-linux.sh
  scripts/user-data-windows.ps1
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Bumping AMI's to latest, bumping stack version to v6.45.0
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Bump examples to v0.2.0 [skip ci]
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Bumping AMI's to latest, bumping stack version to v6.45.0 (#6)
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update AMIs to Elastic CI Stack v6.46.0
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMIs to Elastic CI Stack v6.46.0 (#7)
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Pin to the newest tag in examples
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

fmt README
  README.md
Due: :page_facing_up: Documentation Check

Fix Lambda S3 bucket cross-region access error
  agent-scaler.tf
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Use ternary to construct bucket name instead of relying on mapping
  agent-scaler.tf
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Fix Lambda S3 bucket cross-region access error (#9)
  agent-scaler.tf
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

[skip ci] Update module refs to v0.3.1
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Pin to the newest tag in examples (#8)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Adding variable, updating description on related variables
  variables.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Creating locals
  locals.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check
