Repository buildkite/terraform-buildkite-elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

.buildkite/pipeline.ami.yml:

steps:
  - label: "Check for Cloudformation Stack Version Change"
    command: .buildkite/scripts/check_version_change.sh
    if_changed:
      - "locals.tf"
    agents:
      queue: "hosted"

.buildkite/pipeline.amis.yml:

steps:
  - label: ":robot: Update AMI Mappings"
    if_changed:
      - "locals.tf"
    plugins:
      - aws-assume-role-with-web-identity#v1.4.0:
          role-arn: arn:aws:iam::445615400570:role/pipeline-terraform-buildkite-elastic-ci-stack-for-aws-release
          session-tags:
            - organization_slug
            - organization_id
            - pipeline_slug
      - aws-ssm#v1.0.0:
          parameters:
            GH_TOKEN: /pipelines/buildkite/terraform-buildkite-elastic-ci-stack-for-aws-release/GITHUB_TOKEN
      - docker#v5.11.0:
          image: hashicorp/terraform:1.13
          workdir: "/workdir"
          entrypoint: "/bin/sh"
          command: ["-c", "apk add --no-cache bash curl git && bash .buildkite/scripts/check_ami_version_match.sh"]
          propagate_environment: true
    agents:
      queue: "oss-deploy"

.buildkite/pipeline.yml:

steps:
  - group: ":terraform: Root Module"
    steps:
      - label: ":terraform: Format Check"
        command: ".buildkite/scripts/format-check.sh"
        if_changed: "**.tf"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate"
        command: ".buildkite/scripts/validate.sh"
        if_changed:
          - "*.tf"
          - "*.tfvars"
          - "scripts/*"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint"
        command: ".buildkite/scripts/tflint.sh"
        if_changed:
          - "*.tf"
          - ".tflint.hcl"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":shield: Security Scan"
        command: ".buildkite/scripts/tfsec.sh"
        if_changed: "*.tf"
        plugins:
          - docker#v5.11.0:
              image: "aquasec/tfsec:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":page_facing_up: Documentation Check"
        command: ".buildkite/scripts/docs-check.sh"
        if_changed:
          - "*.tf"
          - "README.md"
        plugins:
          - docker#v5.11.0:
              image: "quay.io/terraform-docs/terraform-docs:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

  - group: ":terraform: Examples"
    steps:
      - label: ":terraform: Format Check Examples"
        command: ".buildkite/scripts/examples-format-check.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":terraform: Validate Examples"
        command: ".buildkite/scripts/examples-validate.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "hashicorp/terraform:1.13"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - label: ":lint-roller: TFLint Examples"
        command: ".buildkite/scripts/examples-tflint.sh"
        if_changed: "examples/**"
        plugins:
          - docker#v5.11.0:
              image: "ghcr.io/terraform-linters/tflint:latest"
              workdir: "/workdir"
              entrypoint: "/bin/sh"

      - wait: ~
        continue_on_failure: true

      - label: "Testing script"
        command: ".buildkite/scripts/check_ami_version_match.sh"

Move if_changed
  .buildkite/pipeline.ami.yml
Due: none

Drop if_changed
  .buildkite/pipeline.ami.yml
Due: none

Finally, add guardrails in meantime whilst we wait for Dockerfile capabilities
  .buildkite/scripts/check_version_change.sh
Due: none

Moving comment
  .buildkite/scripts/check_version_change.sh
Due: none

Remove scaler def in example
  examples/complete/main.tf
  renovate.json
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

tf fmt
  examples/complete/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

feat: Remove Scaler var, update with renovate (#30)
  .buildkite/pipeline.ami.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/check_version_change.sh
  .buildkite/scripts/update_amis.sh
  .github/dependabot.yml
  README.md
  agent-scaler.tf
  examples/complete/main.tf
  locals.tf
  renovate.json
  variables.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update AMIs to align with Elastic CI Stack v6.52.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update AMIs to align with Elastic CI Stack v6.52.0 (#31)
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update module version in readme and examples
  README.md
  examples/basic/main.tf
  examples/basic/mise.toml
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update module version in readme and examples (#32)
  README.md
  examples/basic/main.tf
  examples/basic/mise.toml
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Set missing variables
  scripts/user-data-linux.sh
Due: :terraform: Validate

Set missing variables (#33)
  scripts/user-data-linux.sh
Due: :terraform: Validate

Update versions for v0.6.1 release
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Add missing elastic ci mode IAM permissions
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Add missing elastic ci mode IAM permissions (#35)
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update versions for v0.6.2 release
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update versions for v0.6.2 release (#36)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Fix default value for LAMBDA_INTERVAL
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Fix default value for LAMBDA_INTERVAL (#37)
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Update release version
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update release version references to 0.6.3
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Update release version references to 0.6.3 (#40)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Align AMIs with CF Stack v6.56.0, bump agent-scaler to 1.11.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Align AMIs with CF Stack v6.56.0, bump agent-scaler to 1.11.0 (#42)
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

update scaler runtime to provided.al2023
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

update scaler runtime to provided.al2023 (#49)
  agent-scaler.tf
Due: :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

Align AMI mapping with CF Stack v6.57.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

fix: add v prefix to the cloudformation_stack_version
  renovate.json
Due: none

Update AMI mappings to CloudFormation version v6.57.0
  locals.tf
Due: Check for Cloudformation Stack Version Change, :robot: Update AMI Mappings, :terraform: Format Check, :terraform: Validate, :lint-roller: TFLint, :shield: Security Scan, :page_facing_up: Documentation Check

fix: add v prefix to the cloudformation_stack_version (#53)
  renovate.json
Due: none

Prepare for 0.6.5 release [ci skip]
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Revert examples to 0.6.4
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

Prepare for 0.6.5 release (#54)
  README.md
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :page_facing_up: Documentation Check, :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

examples: update version refs to 0.6.5
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples

examples: update version refs to 0.6.5 (#55)
  examples/basic/main.tf
  examples/complete/main.tf
  examples/existing-vpc/main.tf
  examples/scheduled-scaling/main.tf
  examples/spot-instances/main.tf
Due: :terraform: Format Check Examples, :terraform: Validate Examples, :lint-roller: TFLint Examples
